<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Seguimiento de Obras</title>
        <!-- Bootstrap -->
        <link href="static/css/bootstrap.min.css" rel="stylesheet">
        <link href="static/css/base.css" rel="stylesheet">
        <link href="static/css/daterangepicker.css" rel="stylesheet">
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

    </head>

    <body ng-app="myapp" >
        <div id="map_canvas" style="width:100%; height:100%"></div>
        <div class="thumbnail shadow box">
            <div ng-controller="MyController" class="pull-left filter-panel" style="width: 92%; height: 100%; overflow-x: hidden;">

                <div class="form-horizontal">
                    <div class="btn-group btn-group-justified">
                        <div class="btn-group">
                            <button type="button" rel="panel_1" class="btn_panel btn btn-default btn-primary">OBRAS</button>
                        </div>
                        <div class="btn-group">
                            <button type="button" rel="panel_2" class="btn_panel btn btn-default" >RUTAS</button>
                        </div>
                    </div>
                </div>
                <br>
                <div id="panel_1" class="box_panel form-horizontal">
                    <div class="page-header" style="margin-top: 0; padding-bottom: 0px">
                        <h1 style="font-size: 24px">Obras Identificadas En Cobertura Distrital</h1>
                    </div>
                    <div class="form-group">
                        <label for="ob_fecha" class="col-sm-4 control-label">Fecha de cierre de venta</label>
                        <div class="col-sm-8">
                            <input type="text" id="ob_fecha" class="form-control drp">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="ob_direccion" class="col-sm-4 control-label">Direcci&oacute;n</label>
                        <div class="col-sm-8">
                            <input type="text" id="ob_direccion" rel="direccion" class="form-control" placeholder="Ingrese Direcci&oacute;n">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="ob_distrito" class="col-sm-4 control-label">Distrito</label>
                        <div class="col-sm-8">
                            <select id="ob_distrito" class="form-control">
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="ob_ev" class="col-sm-4 control-label">Ejecutivo de Venta</label>
                        <div class="col-sm-8">
                            <select id="ob_ev" class="form-control">
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="ob_concretera" class="col-sm-4 control-label">Concretera</label>
                        <div class="col-sm-8">
                            <select id="ob_concretera" class="form-control">
                            </select>
                        </div>
                    </div>

                    <button ng-click="myData.doClick(item, $event)" class="btn btn-success btn-block">Mostrar</button>
                </div>

                <div id="panel_2" class="box_panel form-horizontal" style="display:none;">
                    <div class="page-header" style="margin-top: 0; padding-bottom: 0px">
                        <h1 style="font-size: 24px">Ruta Seguida Por El Ejecutivo De Venta En Su Cobertura Distrital</h1>
                    </div>
                    <div class="form-group">
                        <label for="ev_fecha" class="col-sm-4 control-label">Fecha</label>
                        <div class="col-sm-8">
                            <input type="text" id="ev_fecha" rel="fecha" class="form-control drp">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="ev_ev" class="col-sm-4 control-label">Ejecutivo de Venta</label>
                        <div class="col-sm-8">
                            <select id="ev_ev" rel="usuario" class="form-control">
                            </select>
                        </div>
                    </div>

                    <button ng-click="myData.doClick(item, $event)" class="btn btn-success btn-block">Mostrar</button>
                </div>
            </div>
            <div class="pull-right filter-label">
                <div class="filter-label-name">BUSCAR</div>
            </div>
            <div class="clearfix"></div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js"></script>
        <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyC568LfJGZJGLirxRpgjPViu72uybvetyg&sensor=true"></script>
        <script src="static/js/work.monitoring.maps.js"></script>
        <script src="static/js/jquery.min.js"></script>
        <script src="static/js/bootstrap.min.js"></script>
        <script src="static/js/moment-with-locales.js"></script>
        <script src="static/js/markerclusterer.js"></script>
        <script src="static/js/work.monitoring.common.js"></script>
        <script src="static/js/work.monitoring.angular.js"></script>
        <script src="static/js/work.monitoring.base.js"></script>
        <script src="static/js/daterangepicker.js"></script>

    </body>

</html>